*{margin: 0;padding: 0;list-style: none;font-family: 'Kodchasan', sans-serif;}
        a{text-decoration: underline;color: inherit;}
        body,html{height: 100%;}
        #main{width: 100%;height: 100%;background: url(../images/beach.jpg)center no-repeat;background-size: cover;color: #fff;position: relative;}
        #main>h1{width: 100%;line-height:50px;height:50px;text-align: center;position: absolute;top:100px;bottom: 0;margin: auto;opacity: 0;text-shadow:5px 5px 10px #000;}
        #main>p{width: 100%;text-align: center;font-size: 14px;line-height:25px;height: 50px;position: absolute;top: 50px;bottom: 0;margin: auto;opacity: 0;text-shadow:5px 5px 10px #000;}
        #mouse{width: 20px;height: 35px;border: 2px solid #fff;border-radius: 30px;position: absolute;left: 0;right: 0;bottom: 30px;margin: auto;}
        #wheel{width: 5px;height: 5px;border-radius: 5px;position: absolute;left: 0;right: 0;top: 6px;margin: auto;background-color: #fff;}
        /*  */
        header{width: 100%;height: 50px;line-height: 50px;border-top: 1px solid #999;background-color: #000;color: #fff;}
        #logo{float: left;margin-left: 20px;}
        #menu{float: right;margin-right: 20px;}
        #menu>li{float: left;margin-left: 20px;font-size: 14px;cursor: pointer;}
        #moblie_menu{width: 24px;height: 24px;float: right;margin-top: 14px;margin-right: 20px;cursor: pointer;}
        #moblie_menu>li{width: 24px;height: 3px;background-color: #fff;border-radius:3px;}
        #moblie_menu>li:nth-child(2){margin: 7px 0;}
        #menu_popup{width: 100%;height: 100%;position: fixed;background-color:rgba(255,255,255,0.9);left: 0;top: 0;display: none;z-index: 9999999;}
        #close_bt{float: right;margin:70px 10px 0;cursor: pointer;width:30px;}
        #menu_popup_menu{float: right;clear: both;text-align: right;margin:50px 10px 0;}
        #menu_popup_menu>li{font-size: 18px;line-height: 46px;font-weight: 900;cursor: pointer;color: #666;}
        #menu_popup_menu>li:hover{color: #000;}
        .sub{margin: 15px 0;font-size: 14px;line-height: 25px;font-weight: 400;color: #888;display: none;}
        .sub>li:hover{color: #000;}
        /*  */
        #main_work{width: 100%;padding:100px 0;background-color: #eee;}
        #main_work_title{width: 1200px;margin: auto;text-align: center;}
        #main_work_title>h3{margin-top: 30px;opacity: 0;}
        #main_work_title>p{margin-top: 20px;margin-top: 70px;opacity: 0;}
        #main_work_img{width: 970px;display: block;margin: auto;border-radius: 20px;margin-top:100px;box-shadow:0 5px 10px rgba(0,0,0,0.2);margin-top: 150px;opacity: 0;}
        #main_work1{width: 1200px;margin: auto;margin-top: 50px;overflow: hidden;}
        #main_work1_left_img{width: 40%;float: left;}
        #main_work1_right{width: 55%;float: right;}
        #main_work1_right>img{width: 180px;margin-top: 30px;}
        #main_work1_right>p{margin-top: 50px;}
        #main_work1_right>button{width: 130px;height: 40px;border: 2px solid #000;background-color: #eee;border-radius: 40px;margin-top: 20px;cursor: pointer;}
        #main_work2{width: 1200px;margin: auto;margin-top: 100px;overflow: hidden;padding: 30px;}
        #main_work2_left{width: 70%;height: 700px;float: left;}
        #main_work2_fonts{}
        #main_work2_fonts>h2{font-size: 28px;line-height: 50px;}
        #main_work2_fonts>ul{overflow: hidden;}
        #main_work2_fonts>ul>li{width: 25%;float: left;margin-top: 10px;}
        #main_work2_fonts>ul>li:nth-child(1)>h3{font-family: 'Tai Heritage Pro', serif;}
        #main_work2_fonts>ul>li:nth-child(2)>h3{font-family: 'Kdam Thmor Pro', sans-serif;font-weight: 400;}
        #main_work2_fonts>ul>li:nth-child(3)>h3{font-family: 'Shadows Into Light';}
        #main_work2_fonts>ul>li>h3{margin-top: 20px;line-height: 20px;}
        #main_work2_fonts>ul>li>h4{margin-top: 20px;text-decoration: underline;font-weight: 400;}
        #main_work2_fonts>p{margin-top: 20px;}

        #main_work2_colors{margin-top: 60px;}
        #main_work2_colors>h2{font-size: 28px;line-height: 50px;}
        #main_work2_colors>ul{overflow: hidden;margin-top: 20px;}
        #main_work2_colors>ul>li{width: 25%;float: left;}
        #main_work2_colors>ul>li>.color_box{width: 100%;height: 20px;border: 1px solid #000;box-sizing: border-box;}
        #main_work2_colors>ul>li:nth-child(1)>.color_box{background-color: #000;}
        #main_work2_colors>ul>li:nth-child(2)>.color_box{background-color: #64b9b2;}
        #main_work2_colors>ul>li:nth-child(3)>.color_box{background-color: #fff;}
        #main_work2_colors>ul>li:nth-child(4)>.color_box{background-color: #eee;}
        #main_work2_colors>ul>li>h4{margin-top: 5px;font-size: 16px;font-weight: 400;color: #999;text-decoration: underline;}
        #main_work2_colors>p{margin-top: 30px;}

        #main_work2_icons{margin-top: 60px;}
        #main_work2_icons>h2{font-size: 28px;line-height: 50px;}
        #main_work2_icons>ul{overflow: hidden;margin-top: 20px;}
        #main_work2_icons>ul>li{float: left;width:20px;margin-right:15px;}
        #main_work2_icons>ul>li>img{width: 100%;}
        #main_work2_icons>p{margin-top: 20px;}



        #main_work2_right{width: 25%;height: 700px;float: right;overflow: hidden;border-radius:40px;box-shadow:15px 10px 20px -10px rgba(0,0,0,0.2);cursor: pointer;background-color:#fff;position: relative;}
        #main_work2_right>a>img{width:100%;position: absolute;}
        #iphoneimg{width:112%;height: 105%;position: absolute;left:-18px;top:-18px;}
        /*  */
        #pc_mobile{width: 100%;padding: 100px 0;text-align: center;}
        #pc_mobile>h3{margin-top: 30px;opacity: 0;}
        #pc_mobile>p{margin-top: 20px;margin-top: 50px;opacity: 0;}
        #pc_mobile>ul{width: 1200px;overflow: hidden;margin: auto;margin-top: 50px;margin-top: 100px;opacity: 0;}
        #pc_mobile>ul>li{width: 44%;margin:3%;float: left;position: relative;padding: 15px;box-sizing: border-box;border-radius: 20px;cursor: pointer;}
        #pc_mobile>ul>li>button{width: 150px;height: 35px;border-radius: 30px;background-color: #000;color: #fff;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99999;border: none;display: none;cursor: pointer;transition: 0.5s;}
        #pc_mobile>ul>li>button:hover{background-color: #fff;color: #000;transition: 0.5s;}
        #pc_mobile>ul>li:hover{background-color:#eee;}
        #pc_mobile>ul>li:hover>button{display: inline;}
        .pc{width: 94%;position: absolute;left: 3%;top: 3%;border-radius: 10px;box-shadow:0 5px 10px rgba(0,0,0,0.2);}
        .tablet{width:70%;display: inline-block;vertical-align: middle;position: relative;z-index: 9999;border-radius: 10px;box-shadow:0 5px 10px rgba(0,0,0,0.2);}
        .moblie{width: 25%;display: inline-block;vertical-align: middle;position: relative;z-index: 9999;border-radius: 10px;box-shadow:0 5px 10px rgba(0,0,0,0.2);}
        /*  */
        #pc_work{width: 100%;background-color: #ddd;padding: 100px 0;text-align: center;}
        #pc_work>h3{font-size: 22px;margin-top: 30px;opacity: 0;}
        #pc_work>p{width: 85%;margin: auto;margin-top: 20px;margin-top: 50px;opacity: 0;}
        #pc_work>ul{width:1200px;margin: auto;overflow: hidden;margin-top: 30px;margin-top: 60px;opacity: 0;}
        #pc_work>ul>li{width: 30.333%;margin: 1.5%;float: left;border-radius: 15px;overflow: hidden;position: relative;background-color: #000;cursor: pointer;}
        #pc_work>ul>li>img{width: 100%;vertical-align: top;}
        #pc_work>ul>li:hover>img{opacity: 0.5;}
        #pc_work>ul>li>button{position: absolute;width: 100px;height: 30px;border: 1px solid #fff;color: #fff;background-color: transparent;left: 0;right: 0;top: 0;bottom: 0;margin: auto;border-radius: 30px;font-size: 14px;display: none;transition: 0.3s;cursor: pointer;}
        #pc_work>ul>li:hover>button{display: inline-block;}
        #pc_work>ul>li>button:hover{background-color: #000;border-color: #000;}
        /*  */
        #about_me{width: 100%;padding: 100px 0;text-align: center;}
        #about_me>h3{margin-top: 30px;opacity: 0;}
        #about_me_img{width: 200px;border-radius: 100px;background-color: #aaa;margin-top: 30px;opacity: 0;}
        #about_me1{width: 1000px;margin: auto;margin-top: 30px;border-top: 1px solid #ccc;overflow: hidden;}
        #liscence{width: 48%;margin: 1%;float: left;text-align: left;}
        #liscence>h4{}
        #liscence>ul{width: 90%;margin: auto;margin-top: 14px;}
        #liscence>ul>li{line-height:40px;overflow: hidden;}
        #liscence>ul>li>h5{float: left;font-size: 14px;}
        #liscence>ul>li>h6{float: right;font-size: 14px;}
        
        #skills{width: 48%;margin: 1%;float: right;}
        #skills>h4{text-align: left;}
        #skills>ul{width: 90%;margin: auto;}
        #skills>ul>li{font-size: 16px;line-height: 30px;overflow: hidden;}
        #skills>ul>li>h5{float: left;}
        #skills>ul>li>h6{float: right;}
        .skills_bg{width: 100%;height: 10px;background-color: #ddd;margin-top: 30px;}
        .skills_box{width: 0%;height: 10px;background:linear-gradient(to right,#ff3376,#6c00ff);}
        #about_me2{width: 1000px;margin: auto;margin-top: 30px;border-top: 1px solid #000;text-align: left;padding: 2%;box-sizing: border-box;}
        #about_me2>h4{}
        #about_me2>p{margin-top: 30px;}
        /*  */
        #contact_me{width: 100%;padding: 150px 0;background: url(../images/beach.jpg)center no-repeat fixed;background-size: cover;color: #fff;text-align: center;}
        #contact_me>h4{line-height: 40px;}
        #contact_me>ul{width: 1000px;margin: auto;overflow: hidden;}
        #contact_me>ul>li:nth-child(1){width: 25%;padding: 30px 0;border-right: 1px solid #999;box-sizing: border-box;float: left;}
        #contact_me>ul>li:nth-child(2){width: 50%;padding: 30px 0;border-right: 1px solid #999;box-sizing: border-box;float: left;}
        #contact_me>ul>li:nth-child(3){width: 25%;padding: 30px 0;float: left;}
        /*  */
        footer{width: 100%;background-color: #ddd;overflow: hidden;}
        footer>h3{float: left;line-height: 50px;margin-left: 20px;}
        footer>p{float: right;font-size: 13px;line-height: 25px;margin-right: 20px;text-align: right;letter-spacing: -1px;}
        /*  */
        @media all and (min-width:320px){/*320~767 모바일*/
            #main>h1{font-size: 20px;top: -20px;}
            #main>p{font-size: 14px;line-height: 25px;top:50px;}
            #menu{display: none;}
            #moblie_menu{display: block;}
            #main_work_title{width: 96%;}
            #main_work_img{width: 96%;margin-top: 50px;}
            #main_work1{width: 90%;margin-top: 20px;}
            #main_work1_left_img{width: 80%;margin:0 10%;}
            #main_work1_right{width: 90%;margin:0 5%;}
            #main_work1_right>img{margin-top:20px;}
            #main_work1_right>p{margin-top:20px;}
            #main_work1_right>button{margin-top:15px;}
            #main_work2{width: 90%;}
            #main_work2_left{width: 100%;}
            #main_work2_right{display: none;}
            #pc_mobile>ul{width: 90%;}
            #pc_mobile>ul>li{width: 100%;margin: 0;}
            #pc_work>ul{width: 90%;}
            #pc_work>ul>li{width:46%;margin: 2%;}
            #about_me1{width: 90%;}
            #liscence{width: 92%;margin: 4%;}
            #skills{width: 92%;margin: 4%;}
            #about_me2{width: 90%;}
            #contact_me>ul{width: 90%;}
            #contact_me>ul>li:nth-child(1){width: 100%;border-right: none;}
            #contact_me>ul>li:nth-child(2){width: 100%;border-right: none;}
            #contact_me>ul>li:nth-child(3){width: 100%;}
            footer>h3{float:none;}
            footer>p{float:none;}
            
        }
        @media all and (min-width:768px){/*768~1023 태블릿*/
            #main>h1{font-size: 35px;top: -20px;}      
            #main>p{font-size: 22px;line-height: 30px;top:50px;}
            #menu{display:block;}
            #moblie_menu{display:none;}
            #main_work_title{width: 96%;}
            #main_work_img{width: 90%;margin-top:100px;}
            #main_work1{width: 90%;margin-top: 50px;}
            #main_work1_left_img{width: 40%;margin:0;}
            #main_work1_right{width:55%;margin:0;}
            #main_work1_right>img{margin-top:0;}
            #main_work1_right>p{margin-top:20px;}
            #main_work1_right>button{margin-top:15px;}
            #main_work2{width: 90%;}
            #main_work2_left{width: 70%;}
            #main_work2_right{width: 25%;display: block;}
            #main_work2_right>img{position:sticky;}
            #pc_mobile>ul{width: 90%;}
            #pc_mobile>ul>li{width: 44%;margin: 3%;}
            #pc_work>ul{width: 90%;}
            #pc_work>ul>li{width: 30.333%;margin: 1.5%;}
            #about_me1{width: 90%;}
            #liscence{width: 48%;margin: 1%;}
            #skills{width: 48%;margin: 1%;}
            #about_me2{width: 90%;}
            #contact_me>ul{width: 90%;}
            #contact_me>ul>li:nth-child(1){width: 25%;border-right: 1px solid #999;}
            #contact_me>ul>li:nth-child(2){width: 50%;border-right: 1px solid #999;}
            #contact_me>ul>li:nth-child(3){width: 25%;}
            footer>h3{float: left;}
            footer>p{float: right;}
        }
        @media all and (min-width:1200px){/*1024 pc*/
            #main>h1{font-size: 40px;top: -20px;}  
            #main>p{font-size: 22px;line-height: 30px;top:50px;}
            #menu{display:block;}
            #moblie_menu{display:none;}    
            #main_work_title{width:1200px;}  
            #main_work_img{width: 970px;margin-top: 100px;}
            #main_work1{width:1200px;margin-top: 50px;}
            #main_work1_left_img{width:40%;margin: 0;}
            #main_work1_right{width:55%;margin:0;}
            #main_work1_right>img{margin-top: 30px;}
            #main_work1_right>p{margin-top: 50px;}
            #main_work1_right>button{margin-top: 20px;}
            #main_work2{width:1200px;}
            #main_work2_left{width: 70%;}
            #main_work2_right{width: 25%;display: block;}
            #main_work2_right>img{position: absolute;}
            #pc_mobile>ul{width: 1200px;}
            #pc_mobile>ul>li{width: 44%;margin: 3%;}
            #pc_work>ul{width:1200px;}
            #pc_work>ul>li{width: 30.333%;margin: 1.5%;}
            #about_me1{width: 1000px;}
            #liscence{width: 48%;margin: 1%;}
            #skills{width: 48%;margin: 1%;}
            #about_me2{width: 1000px;}
            #contact_me>ul{width: 1000px;}
            #contact_me>ul>li:nth-child(1){width: 25%;border-right: 1px solid #999;}
            #contact_me>ul>li:nth-child(2){width: 50%;border-right: 1px solid #999;}
            #contact_me>ul>li:nth-child(3){width: 25%;}
            footer>h3{float: left;}
            footer>p{float: right;}
        }